In [89]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np

In [90]:
#read in file with all interest data
df = pd.read_csv("PARTNER_INTERESTS.csv", index_col="ID")
df.fillna("", axis=1, inplace=True)
df

,WELL_NAME,3,21927,35810,24363,21723,30058,35104,1,37745
ID,,,,,,,,,,
0,PARTNER_NAME,CML,KENNETH C. NELSON,CASEY SATTERFIELD,I. PHIL BUCH,IDC ENTERPRISES LTD,JASON CLAYTON,LAN/MLN TRUSTS,PATTERSON PETROLEUM,TRAVIS WADMAN
4035.007,AARON #1,0.0014607,0.19288545,,0.01460693,0.03749602,0.0014607,,0.1505175,
4035.004,ANIKEN #1,0.00098783,0.12557333,,0.00987825,0.02535742,0.00098783,0.00098685,0.113171,
3855.014,ANNA LOUISA #1,0.00213235,0.19238382,,0.0212873,0.03405977,0.00144426,0.0011549,0.16604138,
9450.003,ANNPICK #1,0.00161468,0.20935298,,0.01614675,0.04144871,,0.00161468,0.18517092,
...,...,...,...,...,...,...,...,...,...,...
3855.013,WHITTINGTON #1,0.00202555,0.20131551,,0.02022958,0.03714196,0.00153125,,0.1759018,
9430.009,BMMP #1,0.0025201,0.3765812,0.00225,0.025,0.1008115,0.0025,,0.2867,0.0025
9430.004,CR #401,0.0025202,0.3779703,,0.025,0.1011834,0.0025,,0.2867,0.0025
9125.006,Lochte #1,0,0,0,0,0,0,0,0,0
9125.004,VRE Minerals #1,0,0,0,0,0,0,0,0,0

In [91]:
#read in all production data
production_df = pd.read_csv("data.csv", index_col="ID")

c:\users\avalosg\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [92]:
production_df

,Well Name,Date,Oil (BBLS),Gas (MCF),Water (BBLS),TP,CP,Comments,moving_score
ID,,,,,,,,,
4035.007,Aaron #1,7/8/2021,108.34,0.00,108.55,100.0,80.0,NaN,NaN
4035.004,Aniken #1,7/8/2021,4.54,0.00,0.00,120.0,20.0,timer 4-20,NaN
9450.003,Annpick #1,7/8/2021,0.00,0.00,0.00,50.0,20.0,NaN,NaN
9430.009,BMMP #1,7/8/2021,80.16,736.75,109.76,1000.0,0.0,NaN,NaN
6725.001,Barrier #1,7/8/2021,0.00,56.31,0.00,150.0,10.0,hot oil,NaN
...,...,...,...,...,...,...,...,...,...
3850.001,Cannan #1,3/9/2006,541.00,445.00,0.00,1150.0,NaN,NaN,0.0
3850.001,Cannan #1,3/8/2006,503.00,368.00,0.00,1150.0,NaN,NaN,0.0
3850.001,Cannan #1,3/7/2006,531.00,441.00,0.00,1150.0,NaN,NaN,0.0
3850.001,Cannan #1,3/6/2006,406.00,331.00,0.00,1150.0,NaN,NaN,0.0
3850.001,Cannan #1,3/5/2006,54.70,0.00,0.00,NaN,NaN,NaN,0.0

In [93]:
#convert each partner's nets into a list
cml = df['3'].tolist()
ken = df['21927'].tolist()
casey = df['35810'].tolist()
phil = df['24363'].tolist()
idc = df['21723'].tolist()
jason = df['30058'].tolist()
lanmln = df['35104'].tolist()
patterson = df['1'].tolist()
travis = df['37745'].tolist()

In [63]:
#cml

In [133]:
#create data frame that will contain production and all partners interests
nets_df =pd.DataFrame(production_df,columns=["Well Name", "Date","Oil (BBLS)", "Gas (MCF)"])

In [134]:
#ADDING EACH PARTNERS NET INTEREST TO THE NEW PRODUCTION DF
condlist = [(nets_df.index == 0),
            (nets_df.index == 4035.007),            
            (nets_df.index == 4035.004),
            (nets_df.index == 3855.014),
            (nets_df.index == 9450.003),
            (nets_df.index == 6725.001),            
            (nets_df.index == 4035.006),
            (nets_df.index == 9750.002),
            (nets_df.index == 7450.008),
            (nets_df.index == 9555.005),            
            (nets_df.index == 9455.008),
            (nets_df.index == 9555.001),
            (nets_df.index == 7450.004),
            (nets_df.index == 8350.005),            
            (nets_df.index == 3855.005),
            (nets_df.index == 3850.001),
            (nets_df.index == 9455.003),
            (nets_df.index == 3855.012), 
            (nets_df.index == 3855.002),
            (nets_df.index == 9455.011),
            (nets_df.index == 6725.002),
            (nets_df.index == 8350.001),            
            (nets_df.index == 9450.009),
            (nets_df.index == 9430.001),
            (nets_df.index == 9430.002),
            (nets_df.index == 9430.003),
            (nets_df.index == 9430.006),
            (nets_df.index == 9430.005),
            (nets_df.index == 1825.005),
            (nets_df.index == 9125.001),
            (nets_df.index == 9455.005),
            (nets_df.index == 3850.024),
            (nets_df.index == 9555.002),
            (nets_df.index == 8650.009),
            (nets_df.index == 9450.001),
            (nets_df.index == 9455.007),
            (nets_df.index == 8350.01),
            (nets_df.index == 9450.006),
            (nets_df.index == 8350.002),
            (nets_df.index == 9455.009),
            (nets_df.index == 8350.003),
            (nets_df.index == 1825.006),
            (nets_df.index == 3850.02),
            (nets_df.index == 3850.016),
            (nets_df.index == 8045.005),
            (nets_df.index == 9455.001),
            (nets_df.index == 8045.004),
            (nets_df.index == 3850.015),
            (nets_df.index == 9455.014),
            (nets_df.index == 5825.002),
            (nets_df.index == 3855.016),
            (nets_df.index == 9455.002),
            (nets_df.index == 9425.001),
            (nets_df.index == 3855.003),
            (nets_df.index == 3855.015),
            (nets_df.index == 3855.022),
            (nets_df.index == 3855.017),
            (nets_df.index == 9455.012),
            (nets_df.index == 8650.001),
            (nets_df.index == 3850.011),
            (nets_df.index == 3855.007),
            (nets_df.index == 4025.002),
            (nets_df.index == 4025.004),
            (nets_df.index == 3855.024),
            (nets_df.index == 9750.001),
            (nets_df.index == 3925.001),
            (nets_df.index == 8350.009),
            (nets_df.index == 3855.006),
            (nets_df.index == 3855.011),
            (nets_df.index == 3855.001),
            (nets_df.index == 3855.009),
            (nets_df.index == 4035.003),
            (nets_df.index == 9450.002),
            (nets_df.index == 9455.013),
            (nets_df.index == 9450.008),
            (nets_df.index == 3855.004),
            (nets_df.index == 7125.002),
            (nets_df.index == 4035.005),
            (nets_df.index == 8650.008),
            (nets_df.index == 9450.011),
            (nets_df.index == 9555.004),
            (nets_df.index == 8650.007),
            (nets_df.index == 9455.004),
            (nets_df.index == 1825.002),
            (nets_df.index == 8650.004),
            (nets_df.index == 8350.006),
            (nets_df.index == 3850.003),
            (nets_df.index == 3850.005),
            (nets_df.index == 3855.025),
            (nets_df.index == 3850.012),
            (nets_df.index == '8725.TOR'),
            (nets_df.index == 3850.006),
            (nets_df.index == 8650.006),
            (nets_df.index == 3855.01),
            (nets_df.index == 8650.005),
            (nets_df.index == 3855.008),
            (nets_df.index == 3855.013),
            (nets_df.index == 9430.009),
            (nets_df.index == 9430.004),
            (nets_df.index == 9125.006),
            (nets_df.index == 9125.004)]

nets_df['3'] = np.select(condlist, cml)
nets_df["21927"] = np.select(condlist, ken)
nets_df['35810'] = np.select(condlist, casey)
nets_df['24363'] = np.select(condlist, phil)
nets_df['21723'] = np.select(condlist, idc)
nets_df['30058'] = np.select(condlist, jason)
nets_df['35104'] = np.select(condlist, lanmln)
nets_df['1'] = np.select(condlist, patterson)
nets_df['37745'] = np.select(condlist, travis)

## EXAMPLE: nets_df['30058'] = np.select(condlist, jason, default='') default parameter is not working for whatever reason

In [135]:
# REPLACE ALL "" WITH 0
nets_df.replace("",0, inplace=True)

In [136]:
#GETTING DAILY OWNED PRODUCTION PER PARTNER
nets_df["CML-OIL"] = nets_df["Oil (BBLS)"] * nets_df["3"].astype(float)
nets_df["CML-GAS"] = nets_df["Gas (MCF)"] * nets_df["3"].astype(float)
nets_df["KEN-OIL"] = nets_df["Oil (BBLS)"] * nets_df["21927"].astype(float)
nets_df["KEN-GAS"] = nets_df["Gas (MCF)"] * nets_df["21927"].astype(float)
nets_df["CASEY-OIL"] = nets_df["Oil (BBLS)"] * nets_df["35810"].astype(float)
nets_df["CASEY-GAS"] = nets_df["Gas (MCF)"] * nets_df["35810"].astype(float)
nets_df["PHIL-OIL"] = nets_df["Oil (BBLS)"] * nets_df["24363"].astype(float)
nets_df["PHIL-GAS"] = nets_df["Gas (MCF)"] * nets_df["24363"].astype(float)
nets_df["IDC-OIL"] = nets_df["Oil (BBLS)"] * nets_df["21723"].astype(float)
nets_df["IDC-GAS"] = nets_df["Gas (MCF)"] * nets_df["21723"].astype(float)
nets_df["JASON-OIL"] = nets_df["Oil (BBLS)"] * nets_df["30058"].astype(float)
nets_df["JASON-GAS"] = nets_df["Gas (MCF)"] * nets_df["30058"].astype(float)
nets_df["LANMLN-OIL"] = nets_df["Oil (BBLS)"] * nets_df["35104"].astype(float)
nets_df["LANMLM-GAS"] = nets_df["Gas (MCF)"] * nets_df["35104"].astype(float)
nets_df["PATTERSON-OIL"] = nets_df["Oil (BBLS)"] * nets_df["1"].astype(float)
nets_df["PATTERSON-GAS"] = nets_df["Gas (MCF)"] * nets_df["1"].astype(float)
nets_df["TRAVIS-OIL"] = nets_df["Oil (BBLS)"] * nets_df["37745"].astype(float)
nets_df["TRAVIS-GAS"] = nets_df["Gas (MCF)"] * nets_df["37745"].astype(float)

In [137]:
nets_df

,Well Name,Date,Oil (BBLS),Gas (MCF),3,21927,35810,24363,21723,30058,...,IDC-OIL,IDC-GAS,JASON-OIL,JASON-GAS,LANMLN-OIL,LANMLM-GAS,PATTERSON-OIL,PATTERSON-GAS,TRAVIS-OIL,TRAVIS-GAS
ID,,,,,,,,,,,,,,,,,,,,,
4035.007,Aaron #1,7/8/2021,108.34,0.00,0.0014607,0.19288545,0,0.01460693,0.03749602,0.0014607,...,4.062319,0.000000,0.158252,0.000000,0.000000,0.000000,16.307066,0.000000,0.0000,0.000000
4035.004,Aniken #1,7/8/2021,4.54,0.00,0.00098783,0.12557333,0,0.00987825,0.02535742,0.00098783,...,0.115123,0.000000,0.004485,0.000000,0.004480,0.000000,0.513796,0.000000,0.0000,0.000000
9450.003,Annpick #1,7/8/2021,0.00,0.00,0.00161468,0.20935298,0,0.01614675,0.04144871,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
9430.009,BMMP #1,7/8/2021,80.16,736.75,0.0025201,0.3765812,0.00225,0.025,0.1008115,0.0025,...,8.081050,74.272873,0.200400,1.841875,0.000000,0.000000,22.981872,211.226225,0.2004,1.841875
6725.001,Barrier #1,7/8/2021,0.00,56.31,0.001212,0.1672317,0,0.00752437,0.03111233,0.001212,...,0.000000,1.751935,0.000000,0.068248,0.000000,0.041650,0.000000,6.073737,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3850.001,Cannan #1,3/9/2006,541.00,445.00,0.00200008,0.08608316,0,0.01996796,0.03194875,0,...,17.284274,14.217194,0.000000,0.000000,33.818521,27.817453,84.260826,69.308812,0.0000,0.000000
3850.001,Cannan #1,3/8/2006,503.00,368.00,0.00200008,0.08608316,0,0.01996796,0.03194875,0,...,16.070221,11.757140,0.000000,0.000000,31.443098,23.004096,78.342320,57.316052,0.0000,0.000000
3850.001,Cannan #1,3/7/2006,531.00,441.00,0.00200008,0.08608316,0,0.01996796,0.03194875,0,...,16.964786,14.089399,0.000000,0.000000,33.193410,27.567408,82.703324,68.685812,0.0000,0.000000
3850.001,Cannan #1,3/6/2006,406.00,331.00,0.00200008,0.08608316,0,0.01996796,0.03194875,0,...,12.971192,10.575036,0.000000,0.000000,25.379519,20.691184,63.234557,51.553296,0.0000,0.000000
3850.001,Cannan #1,3/5/2006,54.70,0.00,0.00200008,0.08608316,0,0.01996796,0.03194875,0,...,1.747597,0.000000,0.000000,0.000000,3.419359,0.000000,8.519533,0.000000,0.0000,0.000000

In [114]:
nets_df.dtypes

Well Name      object
Date           object
Oil (BBLS)    float64
Gas (MCF)     float64
3              object
21927          object
35810          object
24363          object
21723          object
30058          object
35104          object
1              object
37745          object
dtype: object