In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np

In [2]:
#READ IN PRODUCTION, WELL NAMES WITH IDs LIST, AND INTEREST DATA
production = pd.read_csv(r"C:\Users\avalosg\OneDrive - CML Exploration\Database\data.csv", usecols=[0,1,2,3,4])
ids = pd.read_csv("raw data\well_id.csv")
interests = pd.read_csv("PARTNER_INTERESTS.csv", usecols=[0,2,3,4,5,6,7,8,9,10])
interests.fillna("", axis=1, inplace=True)

In [3]:
#MERGE WELL IDs TO PRODUCTION
df = pd.merge(ids, production, on='Well Name')

In [4]:
nets = pd.merge(df, interests, on="ID")

In [5]:
nets.to_csv("raw data/production-interest-partner.csv")

In [6]:
nets_ownership = nets
nets_ownership.replace("",0, inplace=True)

In [7]:
nets_ownership["CML-OIL"] = nets["Oil (BBLS)"] * nets["3"].astype(float)
nets_ownership["CML-GAS"] = nets["Gas (MCF)"] * nets["3"].astype(float)
nets_ownership["KEN-OIL"] = nets["Oil (BBLS)"] * nets["21927"].astype(float)
nets_ownership["KEN-GAS"] = nets["Gas (MCF)"] * nets["21927"].astype(float)
nets_ownership["CASEY-OIL"] = nets["Oil (BBLS)"] * nets["35810"].astype(float)
nets_ownership["CASEY-GAS"] = nets["Gas (MCF)"] * nets["35810"].astype(float)
nets_ownership["PHIL-OIL"] = nets["Oil (BBLS)"] * nets["24363"].astype(float)
nets_ownership["PHIL-GAS"] = nets["Gas (MCF)"] * nets["24363"].astype(float)
nets_ownership["IDC-OIL"] = nets["Oil (BBLS)"] * nets["21723"].astype(float)
nets_ownership["IDC-GAS"] = nets["Gas (MCF)"] * nets["21723"].astype(float)
nets_ownership["JASON-OIL"] = nets["Oil (BBLS)"] * nets["30058"].astype(float)
nets_ownership["JASON-GAS"] = nets["Gas (MCF)"] * nets["30058"].astype(float)
nets_ownership["LANMLN-OIL"] = nets["Oil (BBLS)"] * nets["35104"].astype(float)
nets_ownership["LANMLN-GAS"] = nets["Gas (MCF)"] * nets["35104"].astype(float)
nets_ownership["PATTERSON-OIL"] = nets["Oil (BBLS)"] * nets["1"].astype(float)
nets_ownership["PATTERSON-GAS"] = nets["Gas (MCF)"] * nets["1"].astype(float)
nets_ownership["TRAVIS-OIL"] = nets["Oil (BBLS)"] * nets["37745"].astype(float)
nets_ownership["TRAVIS-GAS"] = nets["Gas (MCF)"] * nets["37745"].astype(float)

In [8]:
nets_ownership.drop(["Oil (BBLS)","Gas (MCF)","Water (BBLS)", "3","21927","35810","24363","21723","30058", "35104","1","37745"], axis=1)

,ID,Well Name,Date,CML-OIL,CML-GAS,KEN-OIL,KEN-GAS,CASEY-OIL,CASEY-GAS,PHIL-OIL,...,IDC-OIL,IDC-GAS,JASON-OIL,JASON-GAS,LANMLN-OIL,LANMLN-GAS,PATTERSON-OIL,PATTERSON-GAS,TRAVIS-OIL,TRAVIS-GAS
0,4035.007,Aaron #1,2021-08-29,0.167776,0.042652,22.154823,5.632255,0.0,0.0,1.677752,...,4.306793,1.094884,0.167776,0.042652,0.0,0.0,17.288440,4.395111,0.0,0.0
1,4035.007,Aaron #1,2021-08-28,0.161174,0.078907,21.282981,10.419672,0.0,0.0,1.611729,...,4.137311,2.025535,0.161174,0.078907,0.0,0.0,16.608101,8.130955,0.0,0.0
2,4035.007,Aaron #1,2021-08-27,0.216797,0.078104,28.628058,10.313585,0.0,0.0,2.167961,...,5.565159,2.004912,0.216797,0.078104,0.0,0.0,22.339807,8.048171,0.0,0.0
3,4035.007,Aaron #1,2021-08-26,0.238751,0.016287,31.527127,2.150673,0.0,0.0,2.387503,...,6.128724,0.418081,0.238751,0.016287,0.0,0.0,24.602085,1.678270,0.0,0.0
4,4035.007,Aaron #1,2021-08-25,0.102453,0.000000,13.528985,0.000000,0.0,0.0,1.024530,...,2.629971,0.000000,0.102453,0.000000,0.0,0.0,10.557297,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273221,1825.004,Woodward #1,2012-02-24,0.028336,0.000000,3.772108,0.000000,0.0,0.0,0.170015,...,0.727383,0.000000,0.000000,0.000000,0.0,0.0,3.249562,0.000000,0.0,0.0
273222,1825.004,Woodward #1,2012-02-23,0.075563,0.000000,10.058955,0.000000,0.0,0.0,0.453374,...,1.939688,0.000000,0.000000,0.000000,0.0,0.0,8.665499,0.000000,0.0,0.0
273223,1825.004,Woodward #1,2012-02-22,0.003148,0.000000,0.419123,0.000000,0.0,0.0,0.018891,...,0.080820,0.000000,0.000000,0.000000,0.0,0.0,0.361062,0.000000,0.0,0.0
273224,1825.004,Woodward #1,2012-02-21,0.003148,0.000000,0.419123,0.000000,0.0,0.0,0.018891,...,0.080820,0.000000,0.000000,0.000000,0.0,0.0,0.361062,0.000000,0.0,0.0
273225,1825.004,Woodward #1,2012-02-20,0.031484,0.000000,4.191231,0.000000,0.0,0.0,0.188906,...,0.808203,0.000000,0.000000,0.000000,0.0,0.0,3.610625,0.000000,0.0,0.0

In [9]:
nets_ownership.to_csv("daily-revenue.csv")

In [10]:
cml_oil = pd.Series(nets_ownership.groupby("Date")["CML-OIL"].sum())
cml_gas = pd.Series(nets_ownership.groupby("Date")["CML-GAS"].sum())
ken_oil = pd.Series(nets_ownership.groupby("Date")["KEN-OIL"].sum())
ken_gas = pd.Series(nets_ownership.groupby("Date")["KEN-GAS"].sum())
casey_oil = pd.Series(nets_ownership.groupby("Date")["CASEY-OIL"].sum())
casey_gas = pd.Series(nets_ownership.groupby("Date")["CASEY-GAS"].sum())
phil_oil = pd.Series(nets_ownership.groupby("Date")["PHIL-OIL"].sum())
phil_gas = pd.Series(nets_ownership.groupby("Date")["PHIL-GAS"].sum())
idc_oil = pd.Series(nets_ownership.groupby("Date")["IDC-OIL"].sum())
idc_gas = pd.Series(nets_ownership.groupby("Date")["IDC-GAS"].sum())
jason_oil = pd.Series(nets_ownership.groupby("Date")["JASON-OIL"].sum())
jason_gas = pd.Series(nets_ownership.groupby("Date")["JASON-GAS"].sum())
lanmln_oil = pd.Series(nets_ownership.groupby("Date")["LANMLN-OIL"].sum())
lanmln_gas = pd.Series(nets_ownership.groupby("Date")["LANMLN-GAS"].sum())
patterson_oil = pd.Series(nets_ownership.groupby("Date")["PATTERSON-OIL"].sum())
patterson_gas = pd.Series(nets_ownership.groupby("Date")["PATTERSON-GAS"].sum())
travis_oil = pd.Series(nets_ownership.groupby("Date")["TRAVIS-OIL"].sum())
travis_gas = pd.Series(nets_ownership.groupby("Date")["TRAVIS-GAS"].sum())

In [11]:
#PUT ALL DAILY SUMMED DATA IN SINGLE DF WITH MULTI COLUMNS (PARTNER, OIL & GAS)
#DATA GOING INTO DF (DATE IS COLUMN NAME IS DATA WAS GROUPED BY DATE)
data= [cml_oil, cml_gas, ken_oil,ken_gas,casey_oil,casey_gas,phil_oil,phil_gas,idc_oil,idc_gas ,jason_oil,jason_gas ,lanmln_oil,lanmln_gas,patterson_oil,patterson_gas,travis_oil,travis_gas]

gas_data= [cml_gas, casey_gas, idc_gas, jason_gas, ken_gas,lanmln_gas, patterson_gas,phil_gas,travis_gas]
oil_data= [cml_oil, casey_oil, idc_oil, jason_oil, ken_oil,lanmln_oil, patterson_oil,phil_oil,travis_oil]

#CREATE DATAFRAME, TRANSPOSE SO DATE IS IN ROW POSITION
grouped_nets = pd.DataFrame(data).transpose()
gas_nets = pd.DataFrame(gas_data).transpose()
oil_nets = pd.DataFrame(oil_data).transpose()

#NEW COLUMN NAMES CREATED BASED ON PARTNER AND THE OWNERSHIIP (OIL & GAS)
#partners_output = [["3", "21297", "35810", "24363", "21723", "30058", "35104", "1", "37745"],["OIL", "GAS"]]
partners_output = [["CML", "Ken", "Casey", "Phil", "IDC", "Jason", "LAN/MLN", "Patterson", "Travis"],["OIL", "GAS"]]
#MAXING COLUMN NAMES FIT MULTI-INDEX FORMAT USING COLUMN NAMES CREATED IN ABOVE LINE
grouped_nets.columns = pd.MultiIndex.from_product(partners_output, names=["partner","ownership"])
#RESETING INDEX SO THAT DATE COLUMN CAN BE CONVERTED TO DATETIME AND SORTED
grouped_nets.reset_index(inplace=True)
grouped_nets

partner          Date       CML                    Ken                  Casey  \
ownership                   OIL        GAS         OIL          GAS       OIL
0          2006-03-05  1.723194   0.000000    4.734574     0.000000  0.000000
1          2006-03-06  0.812032   0.662026   34.949763    28.493526  0.000000
2          2006-03-07  1.827900   1.004247   45.710158    37.962674  0.000000
3          2006-03-08  2.061131   0.919346   43.299829    31.678603  0.000000
4          2006-03-09  1.082043   0.890036   46.570990    38.307006  0.000000
...               ...       ...        ...         ...          ...       ...
5652       2021-08-25  3.271869  20.703428  381.426692  2601.679434  0.208945
5653       2021-08-26  4.345381  18.427634  490.091827  2463.431772  0.249498
5654       2021-08-27  2.933010  13.872732  335.553586  1647.403579  0.284771
5655       2021-08-28  3.612221  14.675230  415.427050  1734.626267  0.218193
5656       2021-08-29  3.764177  15.625731  431.479603  1891.209344  0.292098

partner                   Phil                     IDC                 Jason  \
ownership       GAS        OIL         GAS         OIL         GAS       OIL
0          0.000000   9.005546    0.000000   27.525753    0.000000  0.000000
1          0.000000   8.106992    6.609395   12.971192   10.575036  0.000000
2          0.000000  14.356961    9.404909   29.198350   16.041563  0.000000
3          0.000000  15.215583    8.246767   32.923908   14.685387  0.000000
4          0.000000  10.802666    8.885742   17.284274   14.217194  0.000000
...             ...        ...         ...         ...         ...       ...
5652       7.897727  27.749866  180.674295   91.982193  638.829673  2.283931
5653       8.714208  38.795328  177.865864  113.776150  645.054378  3.105972
5654       2.319520  26.599547  127.850561   76.247469  400.568816  2.191173
5655       2.331414  32.943567  121.114238   93.172739  391.104858  2.539330
5656       3.681812  37.198607  134.820458  104.445699  460.970700  3.051106

partner                  LANMLN              Patterson                 Travis  \
ownership        GAS        OIL        GAS         OIL          GAS       OIL
0           0.000000  21.355322   0.000000    8.566258     0.000000  0.000000
1           0.000000  25.379519  20.691184   63.234557    51.553296  0.000000
2           0.000000  41.699560  28.924773   82.703324    68.685812  0.000000
3           0.000000  43.161678  25.040142   78.342320    57.316052  0.000000
4           0.000000  33.818521  27.817453   84.260826    69.308812  0.000000
...              ...        ...        ...         ...          ...       ...
5652       15.078780   5.752682  32.300959  309.082874  2024.633083  0.820653
5653       16.144524  10.775088  29.102057  405.556582  1947.827081  0.876612
5654       10.248967   6.998091  20.447444  271.023735  1304.178367  0.737563
5655        9.711985   9.016528  16.473052  341.052081  1361.135771  0.639888
5656       11.323060   6.437645  15.691926  356.468150  1473.996437  0.879305

partner
ownership        GAS
0           0.000000
1           0.000000
2           0.000000
3           0.000000
4           0.000000
...              ...
5652       10.902003
5653       12.026057
5654        5.509173
5655        4.463461
5656        6.433506

[5657 rows x 19 columns]

In [12]:
oil_nets.rename(columns={'CML-OIL':'CML','CASEY-OIL':'CASEY','IDC-OIL':'IDC','JASON-OIL':'JASON','KEN-OIL':'KEN','LANMLN-OIL':'LAM/MLN','PATTERSON-OIL':'PATTERSON','PHIL-OIL':'PHIL','TRAVIS-OIL':'TRAVIS'}, inplace= True)
oil_nets.reset_index(inplace=True)
oil_nets.to_json(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\ownership-oil.json", orient="records", date_format='iso')

In [13]:
oil_nets

,Date,CML,CASEY,IDC,JASON,KEN,LAM MLN TRUSTS,PATTERSON,PHIL,TRAVIS
0,2006-03-05,1.723194,0.000000,27.525753,0.000000,4.734574,21.355322,8.566258,9.005546,0.000000
1,2006-03-06,0.812032,0.000000,12.971192,0.000000,34.949763,25.379519,63.234557,8.106992,0.000000
2,2006-03-07,1.827900,0.000000,29.198350,0.000000,45.710158,41.699560,82.703324,14.356961,0.000000
3,2006-03-08,2.061131,0.000000,32.923908,0.000000,43.299829,43.161678,78.342320,15.215583,0.000000
4,2006-03-09,1.082043,0.000000,17.284274,0.000000,46.570990,33.818521,84.260826,10.802666,0.000000
...,...,...,...,...,...,...,...,...,...,...
5652,2021-08-25,3.271869,0.208945,91.982193,2.283931,381.426692,5.752682,309.082874,27.749866,0.820653
5653,2021-08-26,4.345381,0.249498,113.776150,3.105972,490.091827,10.775088,405.556582,38.795328,0.876612
5654,2021-08-27,2.933010,0.284771,76.247469,2.191173,335.553586,6.998091,271.023735,26.599547,0.737563
5655,2021-08-28,3.612221,0.218193,93.172739,2.539330,415.427050,9.016528,341.052081,32.943567,0.639888
5656,2021-08-29,3.764177,0.292098,104.445699,3.051106,431.479603,6.437645,356.468150,37.198607,0.879305

In [14]:
gas_nets.rename(columns={'CML-GAS':'CML','CASEY-GAS':'CASEY','IDC-GAS':'IDC','JASON-GAS':'JASON','KEN-GAS':'KEN','LANMLN-GAS':'LAM/MLN','PATTERSON-GAS':'PATTERSON','PHIL-GAS':'PHIL','TRAVIS-GAS':'TRAVIS'},inplace= True)
gas_nets.reset_index(inplace=True)
gas_nets.to_json(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\ownership-gas.json", orient="records", date_format='iso')

In [15]:
partner_id = pd.read_csv("raw data\partner-name-id.csv")

In [16]:
partner_id

  partner_name  partner_id
0          CML           3
1        CASEY       35810
2          IDC       21723
3        JASON       30058
4          KEN       21927
5      LAN/MLN       35104
6         PHIL       24363
7    PATTERSON           1
8       TRAVIS       37745

In [17]:
partner_id.to_json(".\partner_id.json")
partner_id.to_json(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\partner_id.json")

In [18]:
grouped_nets.to_csv("daily-partner-ownership.csv")

In [19]:
grouped_nets.to_json("daily-partner-ownership.json", orient="records", date_format='iso')

In [20]:
grouped_nets.to_json(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\daily-partner-ownership.json", orient="records", date_format='iso')

In [21]:
grouped_nets.to_csv(r"C:\Users\avalosg\OneDrive - CML Exploration\Desktop\PARTNER_NET_INTEREST\static\daily-partner-ownership.csv")